<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><uses-permission android:name="android.permission.INTERNET" /><uses-permission android:name="android.permission.FOREGROUND_SERVICE" /><uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" /><uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:theme="@style/Theme.OptiLive" android:label="OptiLive" android:icon="@drawable/ic_launcher_optilive" android:roundIcon="@drawable/ic_launcher_optilive" android:usesCleartextTraffic="true">
        <service android:name=".LocationService" android:foregroundServiceType="location" android:exported="false" />
        <activity android:name=".CourseAdminActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".AdminActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".WeatherActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".ClassificationActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".TrackingActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".MapActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SplashActivity" android:screenOrientation="portrait" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
    </application>
</manifest>